.container{
    text-align: center;
    height:100%;
    margin-top: 30vh;
}

.welcome-note{
    text-shadow: 0px 0px 100px #fbc531;
    background-color: #2f3640;
    position: relative;
    color: white;
    margin: 1vh;
    font-size: 20vh;
    font-family: 'Roboto', sans-serif;
}
