.container{
    text-align: center;
    height:100%;
    margin-top: 30vh;
}

.welcome-note{
    text-shadow: 20px 2px 40px black;
    background-color: #2a2a2a;
    position: relative;
    color: white;
    margin: 1vh;
    font-size: 12vh;
    font-family: 'Roboto', sans-serif;
}
